body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;
    color: black;
    line-height: 1.6;
    padding: 0;
}

header {
    background-color: green;
    background-size: cover;
    padding: 100px 20px 80px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header h2 {
    font-size: 1.3rem;
    font-weight: normal;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

main {
    padding-right: 20px;
}

main h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: pink;
}

main p {
    margin-bottom: 20px;
}

aside {
    background: lightgreen;
    padding: 25px;
    border-radius: 6px;
}

aside h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: black;
}

aside a {
    text-decoration: none;
    color: black;
}

aside a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 40px 0;
    color: black;
}